<launch>
    <!-- <env name="ROSCONSOLE_CONFIG_FILE" value="$(find cotek_localizer)/config/cotek_rosconsole.conf"/> -->

    <!-- Run laser node. -->
    <!-- <node pkg="cotek_urg" type="cotek_urg_node" name="cotek_urg_node" respawn="true"/> -->
    <!-- <node pkg="cotek_urg" type="cotek_urg_node" name="cotek_urg_node" respawn="true" output="screen"></node> -->

    <!-- The localizer node. -->
    <!-- <node pkg="cotek_localizer" type="cotek_localizer_node" name="cotek_localizer_node" respawn="true" output="screen">
        <rosparam command="load" file="$(find cotek_localizer)/config/cotek_localizer_params.yaml" />
    </node> -->

    <!-- Run navigation node. -->
    <node pkg="navigation" type="navigation_node" name="navigation_node" respawn="true" output="screen">
        <rosparam command="load" file="$(find navigation)/config/navigation_params.yaml" />
    </node>

    <!-- Run communcation_mcu node. -->
    <!-- <node pkg="communcation_mcu" type="communcation_mcu_node" name="communcation_mcu_node" respawn="true" output="screen">
    </node> -->

    
</launch>